[Unit]
Description=Polling Script Service
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/polling_script.sh
StandardOutput=append:/var/log/web_service.log
StandardError=inherit

[Install]
WantedBy=multi-user.target